#act {
	position: relative;
	overflow: hidden;
	background: #bdbcc0;
	float: left;
	height: 265px;
	width: 707px;
}
#act .slide-pic,
#act .slide-pic img {
	overflow: hidden;
	width: 707px;
	height: 265px;
}
#act .slide-pic li {
	display: none;
}
#act .slide-pic li.current {
	display: block;
}
#act .slide-li {
	left: 10px;
	top: 0px;
	position: absolute;
}
#act .slide-li li {
	width: 170px;
	height: 70px;
	margin-top: 12px;
	_margin-top: 9px;
	border: 1px solid #dedee0;
}
#act .slide-li a {
	display: block;
	text-decoration: none;
}
#act .slide-li a img {
	width: 170px;
	height: 70px;
}
#act .slide-li li.current {
	border: 1px solid #ffffff;
	filter: alpha(opacity=50);
	opacity: 0.5;
}