#act {
	position: relative;
	overflow: hidden;
	background: gray;
	float: left;
	height: 250px;
	width: 660px;
}
#act .slide-pic {
	overflow: hidden;
	width: 500px;
}
#act .slide-pic li {
	display: none;
}
#act .slide-pic li.current {
	display: block;
}
#act .slide-li {
	right: 0px;
	top: 0px;
	position: absolute;
	/*filter: alpha(opacity=60);*/
	/*opacity: 0.6;*/
}
#act .slide-li li {
	width: 160px;
	height: 80px;
	/*line-height: 30px;*/
	/*margin-right: 1px;*/
	/*text-align: center;*/
}
#act .slide-li a {
	display: block;
	height: 80px;
	/*font-size: 14px;*/
	/*color: #fff;*/
	
	text-decoration: none;
}
#act .slide-li li.current a {
	/*color: #333;*/
	
	text-decoration: none;
	background: red;
}