/* logo_custom bg start */

#logo_custom {
	width: 98px;
	background: url("img/lv3_auction_ing_logo.jpg") no-repeat left bottom;
}
/* logo_custom bg end */
/* auction today start */

#auction_today {
	padding-top: 35px;
}
#auction_today_title {
	height: 30px;
	margin-bottom: 28px;
	position: relative;
	background: url("img/lv2_auction_auctiontoday_title.jpg") no-repeat center bottom;
}
#auction_today_list > ul > li {
	margin-bottom: 30px;
	overflow: hidden;
}
#auction_today_list > ul > li.last_auction_today {
	margin-bottom: 0;
}
#auction_today_list .auction_img,
#auction_today_list .auction_img img {
	width: 445px;
	height: 276px;
	float: left;
}
#auction_today_list .auction_text {
	float: right;
	width: 514px;
	height: 184px;
	padding: 45px 20px;
	border: 1px solid #c2c2c2;
	border-left: none;
	overflow: hidden;
}
#auction_today_list .auction_text h2 {
	font-size: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#auction_today_list .auction_text p {
	height: 40px;
	line-height: 40px;
	border-top: 1px dotted #e0e0e0;
	border-bottom: 1px dotted #e0e0e0;
	margin: 15px 0;
	position: relative;
}
#auction_today_list .auction_text p span {
	font-size: 16px;
	color: #666666;
}
#auction_today_list .auction_text p .auction_time {
	position: absolute;
	right: 0;
}
#auction_today_list .auction_text ul li {
	float: left;
	width: 107px;
	height: 107px;
	margin-right: 28px;
}
#auction_today_list .auction_text ul li.last_img {
	margin-right: 0;
}
/* auction today end */