#content_right {
	float: right;
	width: 670px;
}
#news {
	overflow: hidden;
	padding: 20px 20px;
	border: 1px solid #e9e9e9;
}
#news_top {
	position: relative;
}
#news_top .comment_praise {
	width: 14px;
	height: 14px;
	padding-left: 18px;
	font-size: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url("img/lv3_artinfo_superinfo_praise.jpg") no-repeat left;
}
#news_title {
	margin-top: 10px;
	text-align: center;
}
#news_title p {
	width: 400px;
	margin: 40px auto 20px auto;
	font-size: 24px;
}
#news_title div span {
	font-size: 14px;
}
#news_content {
	margin: 10px auto 0 auto;
	padding-top: 20px;
}
#news_img {
	margin: 0 auto;
	width: 640px;
	height: 298px;
	position: relative;
}
#news_img ul {
	position: absolute;
	top: 0px;
	left: 58px;
	width: 524px;
	height: 298px;
}
#news_img ul li {
	position: relative;
}
#news_img ul img {
	width: 524px;
	height: 298px;
}
#news_text {
	margin-top: 40px;
}
#news_text p {
	line-height: 30px;
	margin: 20px auto;
	width: 524px;
	text-indent: 2em;
	text-align: justify;
	text-justify: inter-ideograph;
}
#praise {
	width: 64px;
	margin: 40px auto 30px auto;
	overflow: hidden;
}
#praise a {
	display: block;
	width: 64px;
	height: 64px;
	background: url("img/blog_article_praise.jpg") no-repeat;
}
#praise span {
	display: block;
	width: 64px;
	font-size: 16px;
	text-align: center;
	color: #8d8d8d;
	line-height: 30px;
	font-weight: 500;
}
/* news end */
/* comment start */

#comment {
	background: #f7f7f7;
	padding: 20px;
}
#comment_write {
	width: 640px;
	overflow: hidden;
}
#my_icon,
#my_icon img {
	float: left;
	height: 70px;
	width: 70px;
	background: #d0d0d0;
}
#comment_write form {
	float: left;
	margin-left: 15px;
	height: 110px;
	width: 545px;
}
#comment_write form textarea {
	height: 68px;
	width: 545px;
	resize: none;
	overflow-y: auto;
	border: 1px solid #e0e0e0;
}
#comment_write form input {
	margin-top: 10px;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: right;
	border: none;
	background: #e06360;
	color: #fff;
}
#comment_area {
	margin-top: 30px;
}
#comment_area_list li {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}
#comment_area_list li .cmt_usericon {
	width: 40px;
	height: 40px;
	float: left;
}
#comment_area_list li .cmt_text {
	float: left;
	width: 590px;
	overflow: hidden;
}
#comment_area_list li .cmt_usertext {
	width: 590px;
	overflow: hidden;
}
#comment_area_list .cmt_usertext a {
	float: left;
	margin: 0 10px;
	width: 75px;
	overflow: hidden;
	color: #e06360;
}
#comment_area_list .cmt_usertext a:hover span {
	color: #DC5154;
}
#comment_area_list .cmt_usertext p {
	float: right;
	overflow: hidden;
	width: 495px;
}
#comment_area_list .cmt_misc {
	margin-top: 8px;
	width: 590px;
	float: left;
}
#comment_area_list .cmt_time {
	font-size: 12px;
	padding-left: 10px;
}
#comment_area_list .cmt_reply {
	float: right;
	font-size: 12px;
}
#cmt_page_ctl {
	width: 680px;
	overflow: hidden;
}
#cmt_page_ctl ul {
	width: 150px;
	margin: 0 auto;
}
#cmt_page_ctl ul li {
	float: left;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}
#cmt_page_ctl ul .cmt_sepa {
	border-right: 1px solid #e0e0e0;
	padding-right: 10px;
	margin-right: 10px;
}
/* comment end */