* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
	color: #6f6f6f;
}
body {
	font-family: "新宋体", "宋体", "微软雅黑", Arial, 'Times New Roman';
}
a {
	text-decoration: none;
	outline: none;
	color: #6f6f6f;
	blr: expression(this.onFocus=this.blur());
}
a:hover {
	color: #DC5154;
}
img {
	border: none;
}
#wrap {
	width: 100%;
	margin: 0 auto;
}
.fullwidth {
	width: 100%;
	margin: 0 auto;
	background: #f7f7f7;
	letter-spacing: 2px;
}
.fitwidth {
	width: 1000px;
	margin: 0 auto;
	letter-spacing: 2px;
}
.clear_float {
	clear: both;
	height: 0;
	width: 0;
}
.dotted_line {
	height: 1px;
	background: url("img/dotted_line_bg.png") repeat;
}
/* top begin */

#top_wrap {
	/*padding: 5px 0;*/
	
	height: 45px;
}
#top {
	height: 45px;
	line-height: 45px;
}
#logo {
	float: left;
	width: 220px;
	height: 45px;
	cursor: pointer;
	background: url("img/blog_logo_bg.jpg") no-repeat;
}
#topleft {
	float: left;
	margin-left: 30px;
}
#top #welcome {
	padding-right: 10px;
	margin-left: 0;
}
#top span,
#top a {
	color: #000;
	margin-left: -5px;
}
#top #login_top {
	color: #a88a43;
}
#top #login_top:hover,
#top a:hover {
	color: #DC5154;
}
#search {
	float: right;
	margin-top: 8px;
}
#search table {
	border-collapse: collapse;
	position: relative;
}
#search table td {
	padding: 0;
	height: 28px;
	border: 1px solid #b5b5b5;
	background: #f7f7f7;
}
#search #keyword,
#search #submit {
	border: none;
	padding: 0;
	margin: 0;
	height: 28px;
	line-height: 28px;
	background: #f7f7f7;
	vertical-align: middle
}
#search #keyword {
	width: 300px;
	border: none;
	padding-left: 10px;
}
#search #submit {
	width: 32px;
	border: none;
	background: url("img/search_bg.png") no-repeat center;
	cursor: pointer;
}
#search #keyword_def {
	position: absolute;
	left: 85px;
	top: 2px;
	line-height: 28px;
	color: #c2c2c2;
	font-size: 12px;
}
/* div select start */

#divselect {
	position: relative;
	z-index: 10000;
}
#divselect cite {
	width: 45px;
	height: 28px;
	line-height: 28px;
	display: block;
	color: #838383;
	cursor: pointer;
	font-style: normal;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	font-size: 12px;
	text-align: center;
	background: url(img/search_select_bg.png) no-repeat right center;
}
#divselect ul {
	width: 70px;
	border: 1px solid #b5b5b5;
	border-top: none;
	background-color: #f7f7f7;
	position: absolute;
	z-index: 20000;
	margin-top: -1px;
	margin-left: -1px;
	display: none;
}
#divselect ul li {
	height: 28px;
	line-height: 28px;
	padding-left: 5px;
}
#divselect ul li a {
	display: block;
	height: 28px;
	color: #6f6f6f;
	padding-left: 10px;
	font-size: 12px;
	letter-spacing: 2px;
}
#divselect ul li a:hover {
	color: #DC5154;
}
#divselect ul li a.short_text {
	letter-spacing: 15px;
}
/* div select end */
/* top end */
/* banner start */

#banner {
	max-width: 1920px;
	height: 283px;
	position: relative;
	overflow: hidden;
}
#pic_wrap {
	margin-top: 64px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 148px;
}
#picround {
	margin: auto;
	width: 100px;
	height: 100px;
	border: 2px solid #FFFFFF;
	-moz-border-radius: 50px;
	/* Gecko browsers */
	
	-webkit-border-radius: 50px;
	/* Webkit browsers */
	
	border-radius: 50px;
	overflow: hidden;
	/* W3C syntax */
}
#artist_name,
#artist_msg {
	display: block;
	text-align: center;
	line-height: 28px;
	color: #FFFFFF;
}
#artist_name {
	font-size: 14px;
	font-weight: 700;
}
#artist_msg {
	font-size: 14px;
	font-weight: 200;
}
#bgedit {
	display: block;
	width: 110px;
	height: 23px;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url("img/blog_bgedit.jpg") no-repeat;
}
/* banner end */

#content_wrap {
	width: 1000px;
	margin: 60px auto;
}
#content_left {
	width: 330px;
	float: left;
	overflow: hidden;
}
#code {
	width: 286px;
	height: 162px;
	border: 1px solid #e0e0e0;
}
#codeword {
	margin-left: 27px;
	margin-top: 58px;
	width: 101px;
	height: 50px;
	background-image: url(img/blog_codeword.jpg);
	float: left;
}
#codepic {
	width: 110px;
	height: 110px;
	margin-left: 22px;
	margin-top: 26px;
	float: left;
}
/* artist start */

#artist {
	border: 1px solid #e0e0e0;
	width: 256px;
	margin-top: 38px;
	overflow: hidden;
	padding: 10px 15px;
}
#artistbg {
	width: 82px;
	height: 27px;
	background-image: url(img/blog_artistbg.jpg);
}
#describe {
	line-height: 35px;
}
#artist .dotted_line {
	margin: 5px 0;
}
#artist .artists_pre {
	width: 56px;
	line-height: 25px;
	float: left;
}
#artist .artists_pre span {
	font-family: 'Times New Roman';
}
#artist .artist_detail {
	margin-left: 12px;
	float: left;
	line-height: 25px;
	width: 185px;
	overflow: hidden;
}
/* artist end */

.more {
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #e0e0e0;
	clear: both;
	letter-spacing: 3px;
	margin: 15px auto;
	color: #666666;
}
/* article start */

#article {
	border: 1px solid #e0e0e0;
	width: 256px;
	margin-top: 38px;
	overflow: hidden;
	padding: 0 15px;
}
#hotarticle {
	width: 102px;
	height: 27px;
	background-image: url(img/blog_hotarticle_title.jpg);
	margin: 30px auto 25px auto;
}
#article .dotted_line {
	margin: 15px 0;
}
#super_article_list li {
	overflow: hidden;
}
#super_article_list li img {
	height: 70px;
	width: 100px;
	float: left;
}
#super_article_list li div {
	height: 70px;
	width: 141px;
	overflow: hidden;
	float: left;
	margin-left: 15px;
}
#super_article_list li div a {
	line-height: 20px;
	margin-top: 15px;
	display: block;
}
#super_article_list li div a:hover {
	color: #DC5154;
}
#article .more {
	width: 71px;
}
/* article end */
/* photo & artist_other start */

#photo,
#artist_other {
	border: 1px solid #d1d1d1;
	width: 286px;
	margin-top: 40px;
}
#photo .titlebg {
	background: url(img/blog_photo_title.jpg) no-repeat top center;
	margin: 30px auto;
	height: 28px;
}
#artist_other .titlebg {
	background: url(img/blog_otherartists_title.jpg) no-repeat top center;
	margin: 30px auto;
	height: 28px;
}
#photo .show_photo img {
	width: 125px;
	height: 125px;
}
#artist_other .show_photo img {
	width: 125px;
	height: 103px;
}
#photo table,
#artist_other table {
	margin: 0px auto;
	border-collapse: separate;
	border-spacing: 8px;
}
#artist_other span {
	background-color: #ebebeb;
	display: block;
	margin-top: -24px;
	line-height: 24px;
	text-align: center;
	opacity: 0.5;
	color: #666666;
}
#photo .more {
	width: 71px;
}
#artist_other .more {
	width: 110px;
}
/* photo & artist_other end */
/*content_left end*/
/* footer begin */

#footer_wrap {
	padding: 60px 0;
	background: #6c6c6c;
}
#footer {
	overflow: hidden;
}
#footer #ft_nav_wrap {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}
#footer #ft_nav_wrap img {
	float: left;
	width: 120px;
	height: 120px;
}
#footer #ft_nav_wrap .ft_second_code {
	margin-left: 40px;
}
#footer #ft_nav {
	float: left;
	line-height: 24px;
}
*html #ft_nav .ft_sec_nav {
	float: left;
}
#footer #ft_nav > ul > li {
	float: left;
}
#footer #ft_nav .ft_sec_nav li {
	color: #fff;
	margin-right: 25px;
	font-size: 14px;
}
#footer #ft_nav .ft_sec_nav li a {
	color: #fff;
}
#footer #ft_nav .ft_title a {
	font-weight: 900;
	display: block;
	width: 80px;
	font-size: 14px;
	margin-bottom: 5px;
}
#footer #ft_nav .ft_title span.nbsp_font {
	font-family: 'Times New Roman';
}
#footer #ft_nav .ft_sec_nav li a:hover {
	color: #DC5154;
}
#footer #ft_shot {
	width: 450px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}
#footer #ft_shot li {
	float: left;
	height: 33px;
	line-height: 33px;
}
#footer #ft_shot li,
#footer #ft_shot li a {
	color: #fff;
}
#footer #ft_shot .ft_shot_sepa {
	margin: 0 15px;
}
#footer #ft_shot li a:hover {
	color: #DC5154;
}
#footer #ft_shot .ft_shot_2 {
	cursor: pointer;
}
/* footer end */