* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body {
	font-family: "微软雅黑", "宋体", Arial, 'Times New Roman';
}
a {
	text-decoration: none;
	color: #000000;
	outline: none;
	blr: expression(this.onFocus=this.blur());
}
img {
	border: none;
}
#wrap,
#header {
	width: 960px;
	margin: 0 auto;
}
#header {
	height: 60px;
	position: relative;
	margin: 30px auto;
}
#header a,
#header span {
	font-size: 14px;
	color: #6f6f6f;
}
#logo {
	float: left;
	width: 280px;
	height: 60px;
}
#logo span {
	position: absolute;
	bottom: 5px;
}
/* nav begin */

#nav {
	float: right;
	height: 60px;
	width: 680px;
}
#nav .main_nav {
	height: 20px;
	position: absolute;
	bottom: 10px;
	right: 40px;
	float: right;
}
#nav .main_nav a {
	display: block;
	height: 25px;
	text-align: center;
	overflow: hidden;
}
#nav span {
	float: left;
	padding-top: 5px;
}
#nav .navs {
	width: 80px;
	float: left;
	padding: 5px 10px 0 10px;
}
#nav .navs:hover {
	background: url(img/nav_flag.jpg) no-repeat center top;
}
*html .main_nav .navs {
	/* only for ie6 */
	
	overflow: hidden;
}
#nav .navs a:hover {
	font-weight: 900;
	color: #000000;
}
#nav .sub_nav {
	display: none;
	width: 80px;
	position: relative;
	z-index: 1000;
	opacity: 0.8;
	filter: Alpha(opacity=80);
}
#nav .sub_nav a:link,
#nav .sub_nav a:visited {
	background: #f9f9f9;
}
#nav .clear {
	clear: both;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
}
#nav .nav_cart {
	display: block;
	position: absolute;
	width: 25px;
	height: 20px;
	bottom: 3px;
	right: 0px;
	background: url(img/nav_cart.jpg) no-repeat center;
}
/* nav end */
/* banner begin */

#banner,
.slidebox {
	width: 100%;
	height: 450px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.slidepic {
	position: absolute;
	width: 9999em;
}
.slidepic li,
.slidepic img {
	display: block;
	width: 1920px;
	height: 450px;
	overflow: hidden;
	float: left;
}
.slidebtn {
	position: absolute;
	bottom: 10px;
	left: 50%;
	float: left;
	margin: 0 auto;
}
.slidebtn li {
	background: #FFFFFF;
	border: 1px solid #D00000;
	cursor: pointer;
	float: left;
	font-family: arial;
	height: 18px;
	line-height: 18px;
	width: 18px;
	margin: 4px;
	text-align: center;
	color: #D00000;
}
.slidebtn li.current {
	background: #FF0000;
	border: 1px solid #FFFFFF;
	height: 18px;
	line-height: 18px;
	width: 18px;
	margin: 4px;
	color: #FFFFFF;
	font-weight: 800;
}
/* banner end */

#content {
	width: 960px;
	height: 100px;
	border: 1px solid blue;
	/* debug */
}
#footer {
	width: 960px;
	height: 100px;
	border: 1px dashed red;
	/* debug */
}