
/* repos begin */

#repos {
	margin: 50px auto;
}
#repos table {
	margin-left: -10px;
	border-collapse: collapse;
}
#repos td {
	text-align: center;
	width: 150px;
	padding: 5px 10px;
}
#repos img {
	width: 150px;
	height: 90px;
}

#repos #repos-img a:hover img {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
/* repos end */
/* activity start */
#activity {
	/*position: relative;*/
	/*height: 370px;*/
	overflow: hidden;
}
#act_wrap {
	/*position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	margin-top: -125px;
	height: 250px;*/
	margin: 55px auto;
	overflow: hidden;
}

#art_headlines {
	border: 1px solid #e0e0e0;
	background: #fff;
	height: 243px;
	width: 250px;
	padding: 10px;
	float: right;
	position: relative;
}
#art_headlines h4 {
	font-weight: 600;
	margin-bottom: 15px;
}
#art_headlines h4 span {
	font-size: 15px;
	font-weight: 600;
}
#art_headlines ul li {
	width: 250px;
	height: 18px;
	border-bottom: 1px dashed #e0e0e0;
	margin-top: 10px;
	padding-bottom: 4px;
}
#art_headlines ul li div a {
	float: left;
	display: block;
	width: 200px;
	height: 18px;
	line-height: 18px;
	font-size: 14px;	
	color: #666666;
	overflow: hidden;
}
#art_headlines ul li div span {
	background: #dd5451;
	display: block;
	float: left;
	width: 45px;	
	height: 18px;
	line-height: 18px;
	font-size: 14px;	
	text-align: center;
	color: #fff;
	margin-right: 5px;
}

#art_headlines ul li div a:hover {
	color: #DC5154;
}




#art_headlines #art_headlines_sale {
	width: 250px;
	height: 76px;
	position: absolute;
	bottom:10px;
	left:10px;
}
/* activity end */


/* sale begin */

#sale_wrap {
	padding: 80px 0;
	_padding-left: 20px;
}
#saleinfo {
	height: 25px;
}
#onsale {
	float: left;
	display: block;
	width: 100px;
	height: 25px;
	margin-right: 30px;
	background: url("img/onsale_text.png") no-repeat center;
}
#sale_scroll {
	float: left;
	line-height: 25px;
	height: 25px;
	width: 700px;
	overflow: hidden;
}
#sale_scroll ul {
	margin: 0px 10px;
	padding: 0px;
	list-style-type: none;
}
#sale_scroll ul li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	padding: 0px;
}
#sale_scroll ul li span {
	margin-right: 10px;
}
#sale_scroll .saletype {
	font-weight: 900;
	color: #000;
}
#salemore {
	display: block;
	height: 25px;
	width: 100px;
	float: right;
	line-height: 25px;
	text-align: right;
	color: #000;
	text-decoration: underline;
}
#salemore:hover {
	color: #DC5154;
}
#saleitem {
	margin-top: 25px;
}
#saleitem table {
	border-collapse: separate;
	border-spacing: 20px 0;
	margin-left: -20px;
}
#saleitem td {
	position: relative;
}
#saleitem img {
	width: 490px;
	height: 335px;
	float: left;
}
#saleitem td div,
#saleitem td p {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40px;
	line-height: 40px;
	width: 490px;
	cursor: pointer;
}
#saleitem td p span {
	color: #fff;
}
#saleitem td div {
	background: #000;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
#saleitem .item_name {
	display: block;
	float: left;
	margin-left: 10px;
}
#saleitem .item_info {
	display: block;
	margin-right: 10px;
	;
	float: right;
	font-weight: 900;
}
#saleitem .item_price {
	color: red;
	font-weight: 900;
}
/* sale end */

.modtitle {
	width: 168px;
	height: 168px;
	margin: 0 auto;
	position: relative;
}
.modtitle span {
	position: absolute;
	width: 168px;
	left: 0;
	bottom: 30px;
	text-align: center;
	color: #6f6f6f;
}
/* newitem begin */

#newitem {
	padding-top: 20px;
	padding-bottom: 50px;
}
#newitem .modtitle {
	background: url(img/newitem_title.png) no-repeat center;
}
#newitem table {
	margin-left: -15px;
	_margin-left: 0;
	border-collapse: separate;
	border-spacing: 15px;
}
#newitem table td,
#newitem table td img,
#newitem table td p {
	width: 205px;
	height: 205px;
	position: relative;
}
#newitem table td img {
	float: left;
}
#newitem table td p {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
}
#newitem table td p span {
	margin-top: 50px;
	display: block;
	line-height: 35px;
}
#newitem table td p a {
	display: block;
	margin: 25px auto;
	padding: 0 10px;
	width: 70px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	background: #666666;
}
#newitem .bigitem,
#newitem .bigitem img,
#newitem .bigitem p {
	width: 340px;
	height: 425px;
}
#newitem .bigitem p span {
	margin-top: 120px;
}
#newitem .bigitem p a {
	margin: 30px auto;
	padding: 0 10px;
	color: #fff;
}
/* newitem end */
/* classitem begin */

#classitem {
	/*height: 5000px;*/
}
#classitem .classitem_wrap {
	/*background: yellow;*/
	
	padding-top: 50px;
}
#classitem .classtitile {
	width: 100px;
	height: 65px;
	margin: 20px auto;
	position: relative;
}
#classitem .classtitile span {
	position: absolute;
	width: 100px;
	left: 0;
	bottom: 0;
	text-align: center;
	color: #6f6f6f;
}
#classitem .class_bgline {
	width: 853px;
	height: 16px;
	margin: 0 auto;
	background: url(img/class_bg_line.png) no-repeat top;
}
#classitem .item_classify {
	width: 853px;
	height: 16px;
	line-height: 16px;
	margin: 10px auto;
}
#classitem .item_classify .item_classify_title {
	margin-left: -30px;
	width: 883px;
}
#classitem .item_classify li {
	float: left;
}
#classitem .item_classify li a:hover {
	color: #DC5154;
}
#classitem .little_title {
	color: #000;
	font-weight: 900;
	padding-right: 12px;
	padding-left: 30px;
}
#classitem table {
	border-collapse: separate;
	border-spacing: 13px;
	margin-left: -13px;
	_margin-top: -10px;
}
#classitem table td,
#classitem table td img,
#classitem table td p {
	width: 240px;
	height: 240px;
	position: relative;
}
#classitem table td img {
	float: left;
}
#classitem table td p {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
}
#classitem table td p span {
	margin-top: 60px;
	display: block;
	line-height: 35px;
}
#classitem table td p a {
	display: block;
	margin: 25px auto;
	padding: 0 10px;
	width: 70px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	background: #666666;
}
#muyuan .classtitile {
	background: url(img/title_muyuan.png) no-repeat top center;
}
#taoyuan .classtitile {
	background: url(img/title_taoyuan.png) no-repeat top center;
}
#qiyuan .classtitile {
	background: url(img/title_qiyuan.png) no-repeat top center;
}
#shiyuan .classtitile {
	background: url(img/title_shiyuan.png) no-repeat top center;
}
#yinyuan .classtitile {
	background: url(img/title_yinyuan.png) no-repeat top center;
}
/* classitem end */
/* artcircle begin */

#artcircle_wrap {
	margin-top: 50px;
	padding: 60px 0;
}
#artists_big_wrap {
	position: relative;
	height: 335px;
	background: url(img/artcircle_bg.png) no-repeat;
	background-position: 60px 35px;
}
#artcircle .artists_big {
	position: absolute;
	top: 0;
	right: 0;
}
#artcircle .artists_big li {
	float: left;
	width: 230px;
	height: 315px;
	padding: 10px;
	margin-left: 40px;
	background: #fff;
}
#artcircle .artists_big li img {
	width: 230px;
	height: 130px;
}
#artcircle .artists_big li h5 {
	color: #6f6f6f;
	margin-top: 20px;
}
#artcircle .artists_big li p {
	color: #6f6f6f;
	margin-top: 10px;
	width: 230px;
	height: 100px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#artcircle .artists_big li a h4 {
	margin-top: 10px;
	font-weight: 900;
	font-size: 15px;
	color: #000;
	width: 230px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
#artcircle .artists_big li a:hover,
#artcircle .artists_big li a:hover h4 {
	color: #DC5154;
}
#mytest,
#mytest h4 {
	font-weight: 900;
}
#artcircle #artists_small_wrap {
	margin-top: 30px;
	height: 95px;
	_margin-left: -16px;
}
#artcircle .artists_small {
	margin-left: -18px;
	_width: 1050px;
}
#artcircle .artists_small li {
	float: left;
	margin-left: 18px;
	position: relative;
}
#artcircle .artists_small li,
#artcircle .artists_small li img {
	width: 95px;
	height: 95px;
}
#artcircle .artists_small li p,
#artcircle .artists_small li span {
	position: absolute;
	display: none;
	left: 0;
	bottom: 0;
	_bottom: 5px;
	width: 95px;
	height: 25px;
	color: #fff;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}
#artcircle .artists_small li p {
	filter: alpha(opacity=70);
	opacity: 0.7;
	background: #000;
}
/* artcircle end */
/* salerank begin */

#salerank {
	margin: 80px auto;
}
#salerank_info {
	height: 25px;
}
#salerank_info #salerank_bg {
	float: left;
	display: block;
	width: 100px;
	height: 25px;
	background: url("img/salerank_bg.png") no-repeat center;
}
#salerank_info #salerank_title {
	margin-left: 5px;
	height: 25px;
	line-height: 25px;
}
#salerank_info ul {
	float: right;
}
#salerank_info ul li {
	margin-left: 5px;
	float: left;
	height: 25px;
	line-height: 25px;
}
#salerank_info ul li a {
	font-size: 14px;
}
#salerank_info ul li a:hover {
	color: red;
}
#salerank_info ul li.salerank_bold {
	font-weight: 900;
}
#salerank table {
	border-collapse: separate;
	border-spacing: 25px 10px;
	margin-left: -25px;
}
#salerank table .salerank_item td,
#salerank table .salerank_item td img {
	width: 180px;
	height: 180px;
	position: relative;
}
#salerank table .salerank_item td a {
	display: none;
	position: absolute;
	top: 80px;
	left: 50px;
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #000;
	color: #fff;
}
#salerank table .salerank_name,
#salerank table .salerank_name span {
	text-align: center;
	text-decoration: underline;
	color: #6F6F6F;
}
/* salerank end */