* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body {
	font-family: "微软雅黑", "宋体", Arial, 'Times New Roman';
}
a {
	text-decoration: none;
	color: #000000;
	outline: none;
	blr: expression(this.onFocus=this.blur());
}
img {
	border: none;
}
#wrap,
#header {
	width: 960px;
	margin: 0 auto;
}
/* header begin */

#header {
	height: 60px;
	position: relative;
	margin: 30px auto;
	_z-index: 10;
}
#header a,
#header li {
	font-size: 14px;
	color: #6f6f6f;
}
#logo {
	float: left;
	width: 300px;
	height: 60px;
	background: url("img/logo.jpg") no-repeat left bottom;
}
#logo span {
	position: absolute;
	left: 185px;
	bottom: 0;
}
/* header end */
/* content begin */

#content {
	width: 960px;
	height: 100px;
	border: 1px solid blue;
	/* debug */
}
/* content end */

#footer {
	width: 960px;
	height: 100px;
	border: 1px dashed red;
	/* debug */
}