#rmenu {
	_display: none;
}
#rmenu .izl-rmenu {
	position: fixed;
	left: 100%;
	margin-left: -47px;
	bottom: 10px;
	padding-bottom: 50px;
	z-index: 999;
	display: none;
}
#rmenu .izl-rmenu .btn {
	width: 45px;
	height: 45px;
	margin-bottom: 3px;
	border: 1px solid #d7d7d7;
	cursor: pointer;
	position: relative;
}
#rmenu .izl-rmenu .btn-mark {
	background: url(img/rmenu_btn_mark.jpg) 0px 0px no-repeat;
}
#rmenu .izl-rmenu .btn-mark:hover {
	border: 1px solid #939392;
}
#rmenu .izl-rmenu .btn-mark .mark-info {
	background-color: #939392;
	position: absolute;
	width: 140px;
	left: -141px;
	top: -1px;
	line-height: 47px;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	display: none;
}
#rmenu .izl-rmenu .btn-wx {
	background: url(img/rmenu_btn_wx.jpg) 0px 0px no-repeat;
}
#rmenu .izl-rmenu .btn-wx:hover {
	border: 1px solid #939392;
}
#rmenu .izl-rmenu .btn-wx .wxpic {
	position: absolute;
	left: -251px;
	top: 0px;
	display: none;
	width: 250px;
	height: 250px;
}


#rmenu .izl-rmenu .btn-qq {
	background: url(img/rmenu_btn_qq.jpg) 0px 0px no-repeat;
}
#rmenu .izl-rmenu .btn-qq:hover {
	border: 1px solid #939392;
}
#rmenu .izl-rmenu .btn-qq .qq-info {
	background-color: #939392;
	position: absolute;
	width: 140px;
	left: -141px;
	top: -1px;
	line-height: 47px;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	display: none;
}









#rmenu .izl-rmenu .btn-share {
	line-height: 45px;
	color: #9c9d99;
	font-size: 14px;
	text-align: center;
	background: #fff;
	/*background: url(img/rmenu_btn_share.jpg) 0px 0px no-repeat;*/
}
#rmenu .izl-rmenu .btn-share:hover {
	border: 1px solid #939392;
}
#rmenu .izl-rmenu .btn-share .share-info {
	background-color: #939392;
	position: absolute;
	width: 140px;
	left: -141px;
	top: -1px;
	line-height: 47px;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	display: none;
}
#rmenu .izl-rmenu .btn-suggest {
	background: url(img/rmenu_btn_sug.jpg) 0px 0px no-repeat;
}
#rmenu .izl-rmenu .btn-suggest:hover {
	border: 1px solid #939392;
}
#rmenu .izl-rmenu .btn-suggest .suggest-info {
	background-color: #939392;
	position: absolute;
	width: 140px;
	left: -141px;
	top: -1px;
	line-height: 47px;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	display: none;
}
#rmenu .izl-rmenu .btn-top {
	background: url(img/rmenu_btn_top.png) 0px 0px no-repeat;
	background-color: #cccccc;
}
#rmenu .izl-rmenu .btn-top:hover {
	background-color: #444;
}