/* logo_custom bg start */

#logo_custom {
	width: 66px;
	background: url("img/logo_signed.jpg") no-repeat left bottom;
}
/* logo_custom bg end */

#banner {
	max-width: 1920px;
	height: 316px;
	position: relative;
	overflow: hidden;
	background: url("img/signed_banner.jpg") no-repeat center;
}
#signed_online {
	position: absolute;
	bottom: 54px;
	left: 50%;
	margin-left: -312px;
	width: 176px;
	height: 51px;
	background: url("img/signed_online_bg.png") no-repeat bottom;
}
#signed_online a {
	display: block;
	width: 176px;
	height: 46px;
	background: url("img/signed_online.jpg") no-repeat center;
}
h1.signed_title {
	width: 227px;
	height: 33px;
	margin-bottom: 40px;
	margin-top: 80px;
}
#flatform h1 {
	background: url("img/signed_platform_title.jpg") no-repeat left center;
}
#flatform p {
	width: 850px;
	margin: 0 auto;
	color: #666666;
	text-align: center;
	line-height: 20px;
}
#advan h1 {
	background: url("img/signed_advan_title.jpg") no-repeat left center;
}
#advan ul {
	border-right: 1px solid #e0e0e0;
	overflow: hidden;
}
#advan ul li {
	float: left;
	width: 141px;
	border-left: 1px solid #e0e0e0;
	overflow: hidden;
	padding: 10px 0;
}
#advan ul li img {
	max-width: 141px;
	display: block;
	height: 58px;
	margin: 0 auto;
}
#advan ul li p {
	width: 100px;
	text-align: center;
	margin: 25px auto 0 auto;
	line-height: 20px;
	height: 40px;
	color: #666666;
}
#process {
	margin-bottom: 100px;
}
#process h1 {
	background: url("img/sidned_process_title.jpg") no-repeat left center;
}
#process ul {
	border-right: 1px solid #e0e0e0;
	overflow: hidden;
}
#process ul li {
	float: left;
	width: 248px;
	border-left: 1px solid #e0e0e0;
	overflow: hidden;
	padding: 10px 0;
}
#process ul li img {
	max-width: 248px;
	display: block;
	height: 61px;
	margin: 0 auto;
}
#process ul li h4 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 5px;
	line-height: 20px;
	color: #666666;
}
#process ul li p {
	width: 170px;
	text-align: center;
	margin: 0 auto;
	line-height: 20px;
	height: 40px;
	color: #666666;
}
/* signed popup start */

#signed_popup {
	display: none;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -161px;
	background-color: #fff;
	z-index: 99999;
	border-bottom: 8px solid #f2f2f2;
	overflow: hidden;
	width: 232px;
	padding: 16px 45px 12px 45px;
}
#signed_popup_title {
	overflow: hidden;
	height: 20px;
}
#signed_popup_title .close {
	float: right;
	height: 14px;
	display: block;
	color: #999;
	font: bold 12px/14px simsun;
	text-shadow: 0 1px 0 #ddd
}
#signed_popup_title .close:hover {
	color: #444;
}
#signed_popup li {
	height: 38px;
	margin-bottom: 12px;
	position: relative;
}
#signed_popup #inputlabels {
	position: absolute;
	top: 2px;
	left: 10px;
	z-index: 20;
	font-size: 16px;
	line-height: 35px;
	color: #9d9d9d;
}
#signed_popup #username,
#signed_popup #phonenum {
	width: 220px;
	height: 35px;
	font-size: 16px;
	line-height: 35px;
	border: 1px solid #e3e3e3;
	color: #6f6f6f;
	padding-left: 10px;
}
#signed_popup #signed {
	height: 35px;
	width: 232px;
	line-height: 35px;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 5px;
	text-align: center;
	border: none;
	background: #dd5451;
	color: #fff;
	cursor: pointer;
}
#signed_mask {
	z-index: 99998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	background: none\9;
	filter: Alpha(opacity=40);
	opacity: 0.4;
	display: none;
}
/* signed popup end */